<nav>
    <div class="nav-wrapper container">
        <a href="http://localhost:63342/24052017_quiz/index.html?_ijt=9hoiamr5rpqnh0lqjomrgh6qnh" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="http://localhost:63342/24052017_quiz/about.html?_ijt=9hoiamr5rpqnh0lqjomrgh6qnh">About</a></li>
            <li><a href="http://localhost:63342/24052017_quiz/contact.html?_ijt=9hoiamr5rpqnh0lqjomrgh6qnh">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="http://localhost:63342/24052017_quiz/about.html?_ijt=9hoiamr5rpqnh0lqjomrgh6qnh">About</a></li>
            <li><a href="http://localhost:63342/24052017_quiz/contact.html?_ijt=9hoiamr5rpqnh0lqjomrgh6qnh">Contact</a></li>
        </ul>
    </div>
</nav>