<div class="sidebar col hide-on-small-only m3 l2">
    <div class="toc-wrapper pinned" style="top: 0px;">
        <div style="height: 1px;">
            <h3>Sidebar</h3>
            <ul class="section table-of-contents">
                <li><a href="#raised" class="">Raised</a></li>
                <li><a href="#floating" class="active">Floating</a></li>
                <li><a href="#flat" class="">Flat</a></li>
                <li><a href="#submit" class="">Submit</a></li>
                <li><a href="#large" class="">Большая</a></li>
                <li><a href="#disabled" class="">Отключенная</a></li>
            </ul>
        </div>
    </div>
</div>