<nav>
    <div class="nav-wrapper container">
        <a href="http://localhost:63342/24052017_quiz/index.html?_ijt=9hoiamr5rpqnh0lqjomrgh6qnh" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/about.html">About</a></li>
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/contact.html">Contact</a></li>
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/karma.html">Описание Вашего кармического кода</a></li>
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/stones.html">Какой камень подходит именно Вам</a></li>
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/index.html">Узнать свой знак зодиака</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/about.html">About</a></li>
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/contact.html">Contact</a></li>
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/karma.html">Описание Вашего кармического кода</a></li>
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/stones.html">Какой камень подходит именно Вам</a></li>
            <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/index.html">Узнать свой знак зодиака</a></li>

        </ul>
    </div>
</nav>