<div class="sidebar col hide-on-small-only m3 l2">
    <div class="toc-wrapper pinned" style="top: 0px;">
        <div style="height: 1px;">
            <h3>Sidebar</h3>
            <ul class="section table-of-contents">
                <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/about.html">About</a></li>
                <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/contact.html">Contact</a></li>
                <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/karma.html">Описание Вашего кармического кода</a></li>
                <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/stones.html">Какой камень подходит именно Вам</a></li>
                <li><a href="http://upscale.promo.net.ua/gavrina/zodiak/index.html">Узнать свой знак зодиака</a></li>
            </ul>
        </div>
    </div>
</div>